@import url('https://fonts.googleapis.com/css?family=Prompt:400,700&display=swap');


.App {
  text-align: center;
  background-color: #0C0C3E;
  min-height: 100vh;
  color: white;
  font-family: 'Prompt'
}
