@import url('https://fonts.googleapis.com/css?family=Prompt:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Prompt';
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Prompt';
  width: 100vw;
}

header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #0C0C3E;
  box-shadow: 0px 8px 8px rgba(8, 8, 8, 0.33);
}

#name {
  font-size: 28px;
  font-weight: bold;
}

#name a {
  color: white;
  text-decoration: none;
}
#hero {
  display: flex;
  color: #0C0C3E;
  padding: 100px;
}

#herotext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#herotext h1,
.signup div h1 {
  font-size: 52px;
  text-align: left;
  padding-bottom: 25px;
}

#herotext p,
.signup div p {
  font-size: 22px;
  text-align: left;
  padding-bottom: 50px;
  font-weight: bold;
}

#hero img {
  width: 60%;
}

.mainblue {
  text-decoration: none;
  color: white;
  background-color: #0C0C3E;
  font-size: 26px;
  font-weight: bold;
  width: 200px;
  padding: 20px 40px;
  border-radius: 32px;
  margin-bottom: 100px;
  border: 0px;
  margin-left: 50px;
  box-shadow: 0px 10px 10px rgba(8, 8, 8, 0.33);
}

#about {
  background-color: #0C0C3E;
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
}


section {
  width: 100vw;
  background: #0C0C3E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}



.abouttext h1 {
  font-size: 52px;
  text-align: right;
  padding-bottom: 25px;
}

.abouttext p {
  font-size: 22px;
  text-align: right;
  font-weight: bold;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.boxes div {
  background-color: white;
  border-radius: 32px;
  color: #0C0C3E;
  padding: 32px;
  width: 20vw;
}


.boxes div h3 {
  font-size: 36px;
  text-align: left;
}
.boxes div p {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
}

#mockups {
  background-color: white;
  color: #0C0C3E;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#mockups div {
  background-color: #0C0C3E;
  color: white;
  padding: 100px;
  font-size: 48px;
  width: 60vw;
  font-weight: bold;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100px;
  width: 100%;
  max-width: 400px;
}

footer {
  background-color: #0C0C3E;
  padding: 25px 50px;
  color: white;
  text-align: left;
}

.is-active {
  font-weight: bold;
}

.signup {
  min-height: 55vh;
  display: flex;
  padding: 100px;
  color: #0C0C3E;
  justify-content: space-around;
}

.signup div {
  text-align: left;
  width: 50vw;
}

.signupform {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40vw;
  padding: 25px 75px;
}

.signupform label {
  text-align: left;
  color: #0C0C3E;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 2px;
  font-size: 22px;
}

.signupform h1 {
  padding-bottom: 25px;
}

.signupform input {
  border: 2px solid #0C0C3E;
  box-shadow: 0px 3px 6px rgba(8, 8, 8, 0.33);
  width: 35vw;
  border-radius: 32px;
  padding: 6px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.signupbtn {
  background-color: #0C0C3E;
  justify-self: right;
  align-self: flex-end;
  color: white;
  font-size: 22px;
  font-weight: bold;
  width: 200px;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 32px;
  box-shadow: 0px 10px 10px rgba(8, 8, 8, 0.33);
}


.noButton {
  color: white;
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}


.noButtonBlue {
  color: #0C0C3E;
  background-color:transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  color: #0C0C3E;
}

.flexrow {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.usercard {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 25px;
}

.usercard h3 {
  font-weight: normal;
  padding-bottom: 10px;
}

.usercard > ul {
  text-align: left;
  font-weight: bold;
  align-self: flex-start;
  padding-bottom: 25px;
}

.usercard ul li {
  margin-left: 25px;
  font-weight: normal;
  color: rgb(54, 54, 54);
  cursor: pointer; 
}

.usercard img {
  height: auto;
  width: 150px;
  border: none;
  box-shadow: 0px 5px 10px rgba(8, 8, 8, 0.33);
  border-radius: 50%;
  margin-bottom: 25px;
}

.projectbuttons {
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.projectbuttons button {
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}



.projectbox {
  display: flex;
  justify-content: space-around;
}

.projectbox div {
  display: flex;
  margin-bottom: 25px;
}

.projectbox img {
  height: auto;
  width: 200px;
}

.projects {
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.account {
  text-align: right;
}

.padding {
  padding: 25px 50px;
}


.account a {
  color: rgb(92, 92, 92);
  text-decoration: none;
}
.secondaryproject {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  width: 150px;
}
.secondaryproject h3 {
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 7px;
  text-align: left;
  font-size: 22px;
}

.secondaryproject h3 a {
  text-decoration: none;
  color: #0C0C3E;
}

.meter {
	height: 30px;
	position: relative;
  background: #f7f7f7;
  background-image: linear-gradient(to right,
  rgb(212, 211, 211),
  rgb(238, 234, 234));
	border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(8, 8, 8, 0.33);;
}


.meter span {
  display: block;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right,
   rgb(0, 211, 56),
   rgb(0, 255, 68));
  position: relative;
  overflow: hidden;
}

.smallimg {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.smallimg img {
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.smallimg2 {
  padding-right: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.smallimg2 img {
  height: auto;
  width: 50px;
  border-radius: 50%;
}

.activeButton {
  color: #0C0C3E;
}

.notActiveButton {
  color: rgb(92, 92, 92);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  padding: 25px 25px 0px 25px;
}

.alignleft {
  text-align: left;
  padding-left: 100px;
  padding-bottom: 25px;
}

.alignleft h3 {
  font-size: 22px;
}
.alignleft p {
  margin-left: 25px;
}

.actionpage {
  padding-bottom: 50px;
}

.actions {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin: 0px 5vw;
}

.actions > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  width: 25vw;
}

.actions div a  {
  text-align: left;
  margin-left: 25px;
  color: #0C0C3E;
  text-decoration: none;
}


.actions > div > a > img {
  width: 250px;
  height: auto;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(8, 8, 8, 0.33);
}



.meter2 {
  height: 30px;
  width: 50%;
	position: relative;
  background: #f7f7f7;
  background-image: linear-gradient(to right,
  rgb(212, 211, 211),
  rgb(238, 234, 234));
	border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(8, 8, 8, 0.33);
  margin-left: 10px;
}


.meter2 span {
  display: block;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right,
   rgb(0, 211, 56),
   rgb(0, 255, 68));
  position: relative;
  overflow: hidden;
}

.flexyrow {
  display: flex;
  justify-content: center;
  align-items: center;
}


.statusimg {
  height: auto;
  width: 15%;
  border-radius: 50%;
}

.addaction {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 100px;
  padding-bottom: 50px;
}

.addaction button {
  background-color: #0C0C3E;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 32px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  display: flex;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 800px;
  height: 50%;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 4;
}


.addactionmodal {
  display: flex;
  justify-content: flex-end;
}
.addactionmodalbtn {
  background-color: #0C0C3E;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 32px;
  cursor: pointer;
}

.modalnames {
  text-align: left;
  font-weight: bold;
}

.modalnames p {
  margin-left: 25px;
  font-weight: normal;
}

.actionform {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  text-align: left;
}

.actionform label {
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.actionform input {
  border: 2px solid #0C0C3E;
  box-shadow: 0px 3px 6px rgba(8, 8, 8, 0.33);
  border-radius: 32px;
  padding: 6px;
  margin-bottom: 25px;
}

.flexrow2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.flexrow2 img {
  height: 400px;
}

.flexrow2 > div {
  width: 40vw;
}

.title {
  margin-top: -25px;
  margin-bottom: 25px;
}
/* 
.tasksform {
} */

.tasksbuttons {
  color: #0C0C3E;
  display: flex;
  border: 5px solid #0C0C3E;
}

.tasksbuttons button {
  color: #0C0C3E;
  border-right: none;
  font-weight: bold;
  font-size: 16px;
  width: 33%;
  padding: 15px 5px;
  border: none;
  cursor: pointer;
}

.addtask {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addtask input {
  width: 60%;
  padding: 5px 15px;
  border-radius: 32px;
  border: none;
  background-color: #f7f7f7;
  font-size: 16px;
  box-shadow: 0px 2px 2px rgba(8, 8, 8, 0.33);
  margin-bottom: 20px;
}

.addtask select {
  width: 20%;
  background-color: #f7f7f7;
  text-align: center;
  font-weight: bold;
  color: #0C0C3E;
  border: 2px solid black;
  font-size: 16px;
  border-radius: 62px;
  padding: 20px 15px;
  width: 20%;
  cursor: pointer;
  margin-bottom: 20px;
}

.addtask button {
  background-color: #0C0C3E;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border-radius: 32px;
  padding: 2px 15px;
  width: 10%;
  cursor: pointer;
  margin-bottom: 20px;
}

.atask {
  color: #0C0C3E;
  font-weight: bold;
  width: 95%;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 32px;
  border: none;
  background-color: #f7f7f7;
  text-align: left;
  display: flex;
  justify-items: space-around;
}

.atask button {
  background-color: white;
  margin-right: 10px;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 70px;
  box-shadow: 0px 1px 1px rgba(8, 8, 8, 0.33);
}


.ataskdone {
  color: rgb(54, 54, 54);
  width: 95%;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 32px;
  border: none;
  background-color: #f7f7f7;
  text-align: left;
  display: flex;
  justify-items: space-around;
}

.ataskdone button {
  background-color: rgb(0, 211, 56);
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 50%;
  height: 100%;
  max-height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.popout {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: left;
}

.popout p {
  font-weight: normal;
}

.popouthidden {
  display: none;
}






.taskform {
  height: 100%;
  padding: 50px;
  color: #5c5c5c;
}




/* .addtask {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addtask input {
  width: 75%;
  padding: 10px 15px;
  border-radius: 32px;
  border: none;
  background-color: #f7f7f7;
  font-size: 16px;
}

.addtask button {
  background-color: #0C0C3E;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border-radius: 32px;
  padding: 2px 15px;
  width: 15%;
  cursor: pointer;
} */

.commentformbox {

  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}


.commentform {
  display: flex;
  background-color: white;
  margin: 15px;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 2px 2px rgba(8, 8, 8, 0.33);
}

.commentform input {
  color: #5c5c5c;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  width: 30vw;
}

.commentform button {
  background-color: #0C0C3E;
  width: 55px;
  padding: 5px 10px;
  border-radius: 16px;
}
