@import url('https://fonts.googleapis.com/css?family=Prompt:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Prompt'
}

header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #0C0C3E;
  box-shadow: 0px 8px 8px rgba(8, 8, 8, 0.33);
}

#name {
  font-size: 28px;
  font-weight: bold;
}

#name a {
  color: white;
  text-decoration: none;
}
#hero {
  display: flex;
  color: #0C0C3E;
  padding: 100px;
}

#herotext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#herotext h1 {
  font-size: 52px;
  text-align: left;
  padding-bottom: 25px;
}

#herotext p {
  font-size: 22px;
  text-align: left;
  padding-bottom: 50px;
  font-weight: bold;
}

#hero img {
  width: 60%;
}

.mainblue {
  text-decoration: none;
  color: white;
  background-color: #0C0C3E;
  font-size: 26px;
  font-weight: bold;
  width: 200px;
  padding: 20px 40px;
  border-radius: 32px;
  margin-bottom: 100px;
  border: 0px;
  margin-left: 50px;
  box-shadow: 0px 10px 10px rgba(8, 8, 8, 0.33);
}

#about {
  background-color: #0C0C3E;
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
}


section {
  width: 100vw;
  background: #0C0C3E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.abouttext h1 {
  font-size: 52px;
  text-align: right;
  padding-bottom: 25px;
}

.abouttext p {
  font-size: 22px;
  text-align: right;
  font-weight: bold;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.boxes div {
  background-color: white;
  border-radius: 32px;
  color: #0C0C3E;
  padding: 32px;
  width: 20vw;
}


.boxes div h3 {
  font-size: 36px;
  text-align: left;
}
.boxes div p {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
}

#mockups {
  background-color: white;
  color: #0C0C3E;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#mockups div {
  background-color: #0C0C3E;
  color: white;
  padding: 100px;
  font-size: 48px;
  width: 60vw;
  font-weight: bold;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

footer {
  background-color: #0C0C3E;
  padding: 50px;
  color: white;
  text-align: left;
}
